.moveImg {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.cell {
    width: 75px;
    height: 75px;
    border: 1px solid #333333;
    align-content: center;
  }
  
  .clickable {
    cursor: pointer;
  }
  
  .notClickable {
    cursor: default;
  }